
{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in area_list %}
		<h3>{{ area }}</h3>
				{% for venue in areas %}
					{% if venue.city  == area   %}							
							<ul class="items">
								<li>
									<a href="/venues/{{ venue.id }}">
										<i class="fas fa-music"></i>
										<div class="item">
											<h5>{{ venue.name }}</h5>
										</div>
									</a>
								</li>
							</ul>

					{% endif %}
				{% endfor %}		

{% endfor %}


{% endblock %}